@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 221, 221, 221;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 221, 221, 221;
    --background-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-rgb);
  color: var(--foreground-rgb);
}

.show {
  display: block;
}

.custom-border {
  border-radius: 38% 62% 47% 53% / 30% 22% 78% 70%; 
  background: url(../../public/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer .icons {
  gap: 1rem;
}

footer .icons a{
  background-color: #fff;
}

footer .icons svg g {
  fill: #003049;
}

.navbar-scroll {
  mix-blend-mode: difference;
  transition: background-color 0.3s, color 0.3s;
}